<div class="map-container" *ngIf="outlet.isActivated == false">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapReady)="mapReady($event)"
  >
    <agm-marker
      [latitude]="currentLocationMarker.lat"
      [longitude]="currentLocationMarker.lng"
      [label]="currentLocationMarker.label"
      [markerDraggable]="currentLocationMarker.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
    >
      <agm-info-window>
        <strong> {{ carNumber }} masinos nr</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="text-center">
    <button
      type="button"
      class="btn btn-primary button-next"
      routerLink="tech-help"
    >
      Toliau
    </button>
  </div>
</div>
<router-outlet #outlet="outlet"></router-outlet>

