/*First page styles*/
.title {
    margin: 2% 0 2% 0;
}

button.center-element {
    margin: 0 auto; 
}

.car-nr {
    margin: 0 auto;
    width: 15%;
}

.button-next {
    margin: 2% 0 2% 0;
    color: #048520
}

/*Second page (map) styles*/
/* agm-map {
    height: 600px;
}

.map-container {
    margin: 3% auto;
    width: 70%;
} */