/*First page styles*/
.title {
  margin: 1% 0 1% 0;
}

button.center-element {
  margin: 0 auto;
}

.car-nr {
  margin: 0 auto;
  width: 25%;
}

.button-next {
  margin: 1% 0 1% 0;
  color: #048520;
}

@media only screen and (max-width: 320px) {
  .car-nr {
    margin: 0 auto;
    width: 55%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .car-nr {
    margin: 0 auto;
    width: 40%;
  }
}
